li{
    text-decoration:bold;
  }
#navbar{
    display: flex;
    margin:3%;
    background-color: black;
}
#navbar div{
    padding:2%;
    cursor: pointer;
    color: aliceblue;
}
#last{
    margin-left: 35%;
}
.logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#middle{
    display: flex;
    margin-left: 20%;
}
#middle div{
    margin:2%;
    margin-left: 10%;
}
button{
    border-radius: 10px;
    background-color:darkturquoise;
    height:120%;
}